@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
  text-decoration: none;
}

body{
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  color: #000000;
  overflow-x: hidden;
}

/* header design start */

nav{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.navbar{
  display: flex;
  gap: 16px;
}

.navbar a{
  font-family: inherit;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.left-nav{
  display: flex;
  gap: 25px;
  align-items: center;
}

button{
  display: inline-block;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 20px;
  font-size: 18px;
}

.btn-one{
  background-color: #f1f1f1;
}

.btn-two{
  background-color: #000000;
  color: white;
}

/* hero section start */
.hero-section{
  background-image: url("./Images/Rectangle1.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container{
  background-color: #ffffff;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 25px;
  border-radius: 5px;
}

.hero-container > h3{
  font-size: 2rem;
  font-weight: 500px;
}

.hero-select{
  display: flex;
  gap: 30px;
}

.hero-select > select{
  background-color: #ECECEC;
  padding: 10px 20px;
  font-size: 15px;
}

.hero-input  {
  width: 90%;
  display: flex;
  gap: 20px;
}

.hero-input > input{
  width: 70%;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  background-color: #ECECEC;
}

.hero-input > button{
  background-color: #00EBC7;
  width: 30%;
  font-size: 18px;
  font-weight: 600;
}

/* main section start */
.favourites{
  background-color: #FDE24F;
  padding: 50px 20px;
  text-align: center;

  & h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
  }
}

/* feature section start */
.feature{
  width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;

  & h3{
    font-size: 2.2rem;
    font-weight: 500;
  }

  .btn-feature{
    display: flex;
    justify-content: center;
  }

  button{
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    margin: 4rem 0 0 0;
    border-radius: 30px;
  }

  .card-container{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3,1fr);
    padding: 0 4rem;
    margin-top: 4rem;
    text-align: center;

    .card{
      .card-detail{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        text-align: center;
      }

      & h4{
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: .7rem;
      }

      & p{
        font-size: 1.2rem;
        text-align:center;
        color: #535353;
      }

      & a{
        font-family: inherit;
        color: #161616;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}
